/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .section-clip {
        clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
    }
    .section-clip-top {
        clip-path: polygon(0 22%, 100% 0, 100% 100%, 0% 100%);
    }
    #main-nav .logo-top {
        padding-left: 1.5rem;
        width: 13rem;
    }
    #main-nav .navbar-toggler {
        padding-right: 0;
        margin-right: 1.5rem;
    }
    .top-contact {
        padding-right: 1.5rem;
    }
    #main-nav .nav-item a {
        padding-left: 1.5rem;
    }
    .hero .hero-gradient {
        background: linear-gradient(98deg, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.7) 80%);
    }
    .hero .swiper-slide {
        padding-top: 20rem;
        padding-bottom: 8rem;
    }
    .hero .hero-text {
        padding-right: 3rem;
    }
    .hero .hero-text h2 {
        /* font-size: 4rem; */
    }
    .home-card .text-box {
        padding: 1rem 1.5rem;
    }
    .full-img {
        height: 50vw;
    }

  
}