/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .section-clip {
        clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
    }
    #main-nav .navbar-nav li.nav-item a {
        font-size: 1.5rem;
        padding: 0 .5rem;
        letter-spacing: .15em;
    }
    .hero .hero-text {
        margin-right: 4rem;
    }
    .hero .hero-text h2 {
        font-size: 6rem;
    }
    .hero .hero-text .large {
        font-size: 7.25rem;
    }
    .home-card .text-box {
        width: 80%
    }
    .home-card .icon-box {
        width: 20%
    }
    /* .landing-cards-home {
        padding-bottom: 6rem;
    } */
}