/* Extra large devices (large desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .section-clip {
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    }
    .section-clip-top {
        clip-path: polygon(0 28%, 100% 0, 100% 100%, 0% 100%);
    }
    #main-nav .active {
        background-color: unset;
    }
    #main-nav .active a {
        color: var(--surf);
    }
    #main-nav .nav-item a:hover {
        opacity: 0.68;
    }
    #main-nav .navbar-nav .nav-item:first-of-type {
        margin-top: 0;
    }
    #main-nav .logo-top {
        padding-left: 0;
        width: 13rem;
    }
    .nav-outer .navbar-bg {
        height: 90%;
    }
    #main-nav .navbar-collapse {
        margin-bottom: 2rem;
    }

    #main-nav .navbar-nav li.nav-item a {
        font-size: 1.5rem;
        /* padding: 0 3rem; */
        letter-spacing: .15em;
    }
    #main-nav .navbar-nav .nav-item:last-of-type {
        margin-bottom: 0;
    }
    #main-nav .fb-top {
        margin-top: -.25rem;
    }
    .hero .hero-text {
        margin-right: 5rem;
    }
    .hero .hero-text h2 {
        font-size: 7rem;
    }
    .hero .hero-text .large {
        font-size: 9.25rem;
    }
    .home-card .text-box h3 {
        font-size: 2.25rem;
    }
    .landing-cards-home {
        padding-top: 5rem!important;
        padding-bottom: 7rem;
    }


    /* #main-nav .navbar-nav li.nav-item {
        display: flex;
        align-items: center;
    } */

   
  
    /* .nav-outer {
        clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
    } */
    .about {
        padding-top: 5rem;
        padding-bottom: 10rem;
     }
     .quote h2 {
        font-size: 3.5rem;
     }
     .full-img {
        height: 35vw;
    }
    footer p {
        font-size: 1.25rem;
    }
    footer .contact {
        margin-bottom: 1rem;
    }
}
        